.team-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    justify-content: center; /* Center items if the row is not fully occupied */
    display: flex;
    flex-direction: column;
  }  